        /*Recordar que borre display: block de header, #principal y footer*/
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        //Siempre se importa primero las variables y luego las secciones
        @import './variables/extend';
        @import './secciones/_header';
        @import './secciones/_titulos';
        @import './secciones/_index-main';
        @import './secciones/_form';
        @import './secciones/_galeria';
        @import './secciones/_productos';
        @import './secciones/_testimonios';
        @import './secciones/_footer';