        /*Recordar que borre display: block de header, #principal y footer*/
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        //Siempre se importa primero las variables y luego las secciones
        @import './variables/coloresFondos';
        @import './variables/extend';
        @import './secciones/header';
        @import './secciones/titulos';
        @import './secciones/index-main';
        @import './secciones/form';
        @import './secciones/galeria';
        @import './secciones/productos';
        @import './secciones/testimonios';
        @import './secciones/footer';