$fondoHeader:linear-gradient(180deg, #E7EBDA, #f09527);
$fondoTitulosIndex:linear-gradient(#637e0b 50%, #d6e382);
$fondoSeccionPpal:linear-gradient(#d6e382 50%, #a1fba1);
$fondoFooter:black;
$fondoForm: #d0f7b3;
$fondoGaleria:wheat;
$fondoProductos:#eb4783c0;
$fondoTestimonios:#f07167;