$fondoHeader:linear-gradient(180deg, #E7EBDA, #f09527);
$fondoTitulosIndex:linear-gradient(90deg, #ffa585, #ffeda0);
$fondoSeccionPpal:linear-gradient(90deg, #ffa585, #ffeda0);
$fondoFooter:black;
$fondoForm: #d0f7b3;
$fondoGaleria:wheat;
$fondoProductos: linear-gradient(90deg, #ffa585, #ffeda0);
$fondoTestimonios:linear-gradient(90deg, #F9DE70, #FFFBAB);