//extend para aplicar estilos generales a los h1
%estiloTitulos {
    font-size: 50px;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 10px;
    color: #F0C808;
}

//mixin para aplicar estilos generales a los subtitulos (h2 y h3)
@mixin estiloSubtitulos ($tamanioSize, $fontWeight) {
    font-size: $tamanioSize;
    font-family: 'Cormorant SC', Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 600;
    margin: auto;
}

//mixin de media querie para achicar el tamaño de los h1 a un diverso ancho de pantalla
@mixin modificacionTitulos($width) {
    @media (min-width: $width) {
        .titulo {
            font-size: 42px;
        }
    }
}

//mixin para acomodar ciertas secciones con cierto posicionamiento
@mixin posicionFlex-column {
    display: flex;
    flex-direction: column;
}