//extend para aplicar estilos generales a los h1
%estiloTitulos {
    font-size: 50px;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 10px;
    color: #F0C808;
    &:hover {
        transition: color 1s, font-size 1s, text-shadow 1s;
        -moz-transition: color 1s, font-size 1s, text-shadow 1s;
        -webkit-transition: color 1s, font-size 1s, text-shadow 1s;
        -o-transition: color 1s, font-size 1s, text-shadow 1s;
        color: #C9EEFF;
        z-index: 10;
        font-size: 55px;
        text-shadow: 0 0 20px #EAF8FF;
    }
}

//mixin para aplicar estilos generales a los subtitulos (h2 y h3)
@mixin estiloSubtitulos ($tamanioSize, $fontWeight) {
    font-size: $tamanioSize;
    font-family: 'Cormorant SC', Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 600;
    margin: auto;
}

//mixin de media querie para achicar el tamaño de los h1 a un diverso ancho de pantalla
@mixin modificacionTitulos($size) {
    @if $size==phone-only {
        @media (max-width: 599px) {
            font-size: 42px;
        }
    }
    @else if $size==desktop-up {
        @media (min-width: 1200px) {
            font-size: 46px;
        }
    }
    @else if $size==big-desktop-up {
        @media (min-width: 1800px) {
            font-size: 50px;
        }
    }
}

//mixin para acomodar ciertas secciones con cierto posicionamiento
@mixin posicionFlex-column {
    display: flex;
    flex-direction: column;
}