.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.75rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 5px;
        padding: 5px;
        text-align: center;
    }
    div>p,
    div>ul,
    div>a {
        display: block;
        font-size: 12px;
        text-align: center;
        font-style: italic;
        font-family: Verdana, Tahoma, sans-serif;
        list-style: none;
        text-decoration: none;
        padding: 5px;
    }
    div>a {
        &:link {
            color: #ffff39;
        }
        &:visited {
            color: #a9026c;
        }
    }
    .telefono {
        width: 33%;
        background-color: #ffbe0b;
    }
    .redes {
        width: 34%;
        background-color: #0fbcf5;
    }
    .fa-brands {
        font-size: 2rem;
    }
    .horarios {
        background-color: #3f9c50dc;
        width: 33%;
        color: white;
    }
    @media (max-width:320px) {
        h3 {
            font-size: 16px;
        }
        div>p,
        div>ul,
        div>a {
            font-size: 10px;
        }
    }
}