.footer {
    width: 100%;
    @include posicionFlex-column;
    background-color: $fondoFooter;
    /*estilos para telefono, horario y direccion del footer*/
    div>p,
    div>ul {
        display: block;
        font-size: 16px;
        text-align: center;
        font-style: italic;
        font-family: Verdana, Tahoma, sans-serif;
        list-style: none;
        text-decoration: none;
        padding: 5px;
        color: papayawhip;
    }
    /*estilos redes footer*/
    .redes {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        a {
            text-decoration: none;
            font-size: 16px;
            font-family: Verdana, Tahoma, sans-serif;
            color: papayawhip;
            &:link {
                color: #dfdf94;
            }
            &:visited {
                color: #a9026c;
            }
        }
    }
    /*tamaño de los iconos*/
    .fa-brands {
        font-size: 1.5rem;
    }
    /*estilos iconos*/
    .fa-solid {
        display: block;
        text-align: center;
        font-size: 1.5rem;
        padding: 10px;
        color: papayawhip;
    }
    @media (max-width:320px) {
        div>p,
        div>ul,
        .redes a {
            font-size: 10px;
        }
    }
}