.header {
    background-image: $fondoHeader;
    .navbar {
        //estilos del logo, con hover incluido
        .logo {
            width: 240px;
            margin: 0;
            padding: 10px 20px;
            &:hover {
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
                overflow: hidden;
            }
        }
        //estilos para los enlaces de la barra de navegacion
        ul,
        li {
            display: inline-block;
            margin: 2px;
            a {
                display: inline-block;
                text-decoration: none;
                border: solid 2px #7D8471;
                border-radius: 10px;
                background-color: #333f1e;
                color: white;
                padding: 5px 12px;
                font-family: Arial, Helvetica, sans-serif;
                &:hover {
                    background-color: #24b3e7;
                    border-color: #B8B799;
                }
            }
        }
        //media querie para achicar el logo a medida que el tamaño de la pantalla es menor
        @media (max-width: 768px) {
            .logo {
                width: 180px;
            }
        }
        @media (max-width: 480px) {
            .logo {
                width: 150px;
            }
        }
    }
}