.listadoProductos {
    background-color: $fondoProductos;
    .titulo {
        @extend %estiloTitulos;
        @include modificacionTitulos(480px);
    }
    ul {
        list-style: none;
        margin: 10px;
    }
    //estilos de cartas Bootstrap y aplicacion de hover
    .card-header {
        font-size: 16px;
        font-weight: bold;
        &:hover {
            font-size: 20px;
            background-color: #ff8800cf;
            cursor: pointer;
        }
    }
    //estilos de productos
    .list-group-item {
        font-size: 0.85rem;
        font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    }
    //estilos boton de productos
    button {
        margin-bottom: 30px;
        padding: 20px;
        font-size: 15px;
        background-color: #cbdfbd;
        color: #001d3d;
        border: 3px solid white;
        &:hover {
            background-color: #a7e47cba;
            font-size: 18px;
            color: white;
            cursor: pointer;
        }
    }
}