.listadoProductos {
    background-color: $fondoProductos;
    .titulo {
        @extend %estiloTitulos;
    }
    ul {
        list-style: none;
        margin: 10px;
    }
    .card-header {
        font-size: 16px;
        font-weight: bold;
        &:hover {
            font-size: 20px;
            background-color: #ff8800cf;
            cursor: pointer;
        }
    }
    .list-group-item {
        font-size: 0.85rem;
        font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    }
    button {
        margin-bottom: 30px;
        padding: 20px;
        font-size: 15px;
        background-color: #cbdfbd;
        color: #001d3d;
        border: 3px solid white;
        &:hover {
            background-color: #a7e47cba;
            font-size: 18px;
            color: white;
            cursor: pointer;
        }
    }
}