.testimonioClientes {
    background-color: #f07167;
    h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        margin: 0 0 20px 0;
    }
    .testimonios {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        img {
            width: 100%;
            margin: 10px 10px;
            padding: 0 10px 0 10px;
        }
        section {
            margin: 0 20px 0 20px;
            h4 {
                font-size: 25px;
                font-family: 'Cormorant SC', Arial, Helvetica, sans-serif;
                padding: 10px;
                margin: 5px 5px;
            }
            p {
                font-size: 18px;
                font-family: 'Ubuntu', sans-serif;
                padding: 5px;
                margin: 10px 10px;
            }
        }
        @media (max-width: 768px) {
            display: grid;
            grid-template-columns: 1fr;
            overflow: auto;
            img {
                margin: 0;
                padding: 0;
            }
        }
        @media (max-width: 480px) {
            display: grid;
            grid-template-columns: 1fr;
            img {
                display: none;
            }
            section {
                margin: 20px 0;
            }
        }
    }
}