.testimonioClientes {
    background-color: $fondoTestimonios;
    h1 {
        @extend %estiloTitulos;
        @include modificacionTitulos(phone-only);
    }
    //estilos de la seccion testimonios, aplicando grid para partir imagen con articulo
    .testimonios {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        //estilos de la imagen
        img {
            width: 100%;
            margin: 10px 10px;
            padding: 0 10px 0 10px;
        }
        //estilos de los comentarios de los clientes
        section {
            margin: 0 20px 0 20px;
            h4 {
                font-size: 25px;
                font-family: 'Cormorant SC', Arial, Helvetica, sans-serif;
                padding: 10px;
                margin: 5px 5px;
            }
            p {
                font-size: 18px;
                font-family: 'Ubuntu', sans-serif;
                padding: 5px;
                margin: 10px 10px;
            }
        }
        //media querie para acomodar de otra forma la seccion testimonios
        @media (max-width: 768px) {
            display: grid;
            grid-template-columns: 1fr;
            overflow: auto;
            img {
                margin: 0;
                padding: 0;
            }
        }
        //en esta media querie se aplica display none a la img para que solo queden los comentarios de la gente visibles
        @media (max-width: 480px) {
            display: grid;
            grid-template-columns: 1fr;
            img {
                display: none;
            }
            section {
                margin: 20px 0;
            }
        }
    }
}