.titulo {
    font-size: 50px;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
    color: #F0C808;
    @media(max-width: 480px) {
        .titulo {
            font-size: 42px;
        }
    }
    @media (max-width: 320px) {
        .titulo {
            font-size: 38px;
        }
    }
}

.subTitulo {
    font-size: 30px;
    font-family: 'Cormorant SC', Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 600;
    margin: 10px;
}